Source: django-syncmedia
Section: python
Priority: optional
Maintainer: Marco Pattaro <mpattaro@gmail.com>
Build-Depends: python, debhelper (>= 7), python-setuptools
Standards-Version: 3.9.4

Package: python-django-syncmedia
Section: python
Priority: extra
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-django (>= 1.4), python-psutil, python-django-extensions, ssh, rsync, sudo
Description: Allow sync of static files for load balanced systems.
 Sync of static files for load balanced systems.
